.h-400{
    height: 500px;
    transition: 1s;
}
.h-400:hover{
    box-shadow: 0cap;
}
.title{
    margin-top: 1rem;
    text-align: center;
    transition: 4s;
}
.hor{
    height: 5px;
    color: black;
}
hr:not([size]) {
    height: 5px;
}