.h-400{
    height: 500px;
    transition: 1s;
}
.h-400:hover{
    box-shadow: 0cap;
}
.title{
    margin-top: 1rem;
    text-align: center;
    transition: 4s;
}
.hor{
    height: 5px;
    color: black;
}
hr:not([size]) {
    height: 5px;
}
.container{
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    height: 70px;
    padding: 2rem 2rem;
    width: 70%;
    background-color: aqua;
}