.container{
    height: 500px;
    width: 600px;
    background-image: url('/clock.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hour{
    height: 70px;
    width: 13px;
    background-color: black;
    position: relative;
    top: 182px;
    right: -297px;
    bottom: 100px;
    border-radius: 10px;
    transform-origin: bottom;


}
.dot{
    height: 20px;
    width: 20px;
    border-radius: 32px;
    background-color: black;
    top: -52px;
    left: 294px;
    position: relative;
}
#minute{
    height: 100px;
    width: 8px;
    background-color: grey;
    position: relative;
    top: 82px;
    right: -299px;
    bottom: 100px;
    border-radius: 10px;
    transform-origin: bottom;

}
#second{
    height: 120px;
    width: 5px;
    background-color: #121212;
    position: relative;
    top: -37px;
    right: -301px;
    bottom: 100px;
    border-radius: 10px;
    transform-origin: bottom;
}